body {
  margin: 0;
}

// button reset
button {
  padding: 0;
  font: inherit;
  background: none;
  border-width: 0;
  appearance: none;
  cursor: pointer;
}

// link reset
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// ul, ol reset
ol,
ul {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
