@use '@shared/styles/variables/_colors' as *;
@use '@shared/styles/variables/_typography' as *;
@use '@shared/styles/mixins/_animation' as *;

$button-font-size: $font-size-base;
$button-line-heigh: calc($button-font-size + 2px);

// secondary button
$button-secondary_color: $color-purple-800;
$button-secondary_background: $color-white;
$button-secondary_border-color: $color-purple-700;
$button-secondary-hover_color: $color-purple-800;
$button-secondary-hover_background: $color-purple-100;
$button-secondary-hover_border-color: $color-purple-800;

// primary button
$button-primary_color: $color-white;
$button-primary_background: $color-purple-700;
$button-primary_border-color: $color-purple-700;
$button-primary-hover_color: $color-white;
$button-primary-hover_background: $color-purple-800;
$button-primary-hover_border-color: $color-purple-800;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  vertical-align: middle;
  font-size: $button-font-size;
  line-height: $button-line-heigh;
  font-weight: 600;
  border: 2px solid;
  border-radius: 20px;
  user-select: none;
  &:disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.variant_secondary {
  color: $button-secondary_color;
  border-color: $button-secondary_border-color;
  background-color: $button-secondary_background;
  &:hover {
    color: $button-secondary-hover_color;
    border-color: $button-secondary-hover_border-color;
    background-color: $button-secondary-hover_background;
  }
}

.variant_primary {
  color: $button-primary_color;
  border-color: $button-primary_border-color;
  background-color: $button-primary_background;
  &:hover {
    color: $button-primary-hover_color;
    border-color: $button-primary-hover_border-color;
    background-color: $button-primary-hover_background;
  }
}

.iconWrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
}

.loader {
  width: $button-line-heigh;
  height: $button-line-heigh;
  border: 2px solid $color-white-50;
  border-top-color: $color-white;
  border-radius: 50%;
  @include spin();
  box-sizing: border-box;
}
