@use '@shared/styles/variables' as *;

$page-loader_background: $color-white-50;
$page-loader_z-index: 1000;

.pageLoader {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $page-loader_background;
  cursor: progress;
  z-index: $page-loader_z-index;
}
