@use '@shared/styles/variables' as *;

$password-icon-width: 40px;

.passwordField {
  label {
    display: block;
    margin-bottom: $indent-xs;
  }
}

.inputWrapper {
  position: relative;
  input {
    padding-right: $password-icon-width;
  }
}

.passwordFieldIcon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: $password-icon-width;
  box-sizing: border-box;
  padding: $input-padding;
  cursor: pointer;
}

.fieldError {
  color: $color-error;
}
