$color-white: #ffffff;
$color-white-50: rgba(255, 255, 255, 0.5);

$color-graphite-900: #0b0b0c;
$color-graphite-800: #141416;
$color-graphite-700: #1f1f21;
$color-graphite-600: #2a2a2d;
$color-graphite-500: #3a3a3d;
$color-graphite-400: #5a5a5d;
$color-graphite-300: #8a8a8d;
$color-graphite-200: #bfbfbf;
$color-graphite-100: #efefef;
