$color-white: #ffffff;
$color-white-50: rgba(255, 255, 255, 0.5);

$color-graphite-900: #0a0a0a;
$color-graphite-800: #161616;
$color-graphite-700: #222222;
$color-graphite-600: #2e2e2e;
$color-graphite-500: #3c3c3c;
$color-graphite-400: #555555;
$color-graphite-300: #808080;
$color-graphite-200: #c7c7c7;
$color-graphite-150: #dedede;
$color-graphite-100: #efefef;

$color-periwinkle-100: #f1ebff;
$color-periwinkle-200: #e2d6ff;
$color-periwinkle-300: #d4c2ff;
$color-periwinkle-400: #c6adff;
$color-periwinkle-500: #b899ff;
