$color-white: #ffffff;
$color-white-50: rgba(255, 255, 255, 0.5);

$color-graphite-100: #efefef;
$color-graphite-150: #dedede;
$color-graphite-200: #c7c7c7;
$color-graphite-300: #808080;
$color-graphite-400: #555555;
$color-graphite-500: #3c3c3c;
$color-graphite-600: #2e2e2e;
$color-graphite-700: #222222;
$color-graphite-800: #161616;
$color-graphite-900: #0a0a0a;

$color-purple-100: #f1ebff;
$color-purple-200: #e2d6ff;
$color-purple-300: #d4c2ff;
$color-purple-400: #c6adff;
$color-purple-500: #b899ff;
$color-purple-600: #a985ff;
$color-purple-700: #9b70ff;
$color-purple-800: #8d5cff;
