@use '@shared/styles/variables' as *;

.registrationForm {
  padding: 20px;
  background-color: $color-purple-100;
  border-radius: 20px;
  a {
    font-weight: 600;
  }
}

.fieldsRow {
  display: flex;
  gap: $indent-md;
}

.inputField {
  &:not(:last-child) {
    margin-bottom: $indent-sm + $indent-xs;
  }
}

.formActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: $indent-md;
}

.formFooter {
  margin-top: $indent-md;
}
