header {
  background: #eee;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.header-links {
  margin-left: auto;
}

.header-links ol {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}