@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins/_animation' as *;

.spinnerMask {
  display: flex;
  align-items: center;
  text-align: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid $color-graphite-600;
  border-top-color: $color-graphite-100;
  border-radius: 50%;
  @include spin();
}
