@use '@shared/styles/variables' as *;

.container {
  --container-max-width: #{$layout-max-width};

  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: $layout-indent;
  padding-right: $layout-indent;
  box-sizing: border-box;

  @media (min-width: $breakpoint-xl) {
    padding-left: $layout-indent-xl;
    padding-right: $layout-indent-xl;
  }
}
