@use '@shared/styles/variables' as *;

.loginForm {
  display: flex;
  flex-direction: column;
  gap: $indent-md;
  padding: 20px;
  background-color: $color-purple-100;
  border-radius: 20px;
  a {
    font-weight: 600;
  }
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: $indent-md;
}

.formActions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
