@use '@shared/styles/variables' as *;

$product-price-label_color: $color-graphite-300;

.productPrice {
  display: flex;
  align-items: baseline;
  gap: $indent-xs;
}

.label {
  font-size: 0.875em;
  color: $product-price-label_color;
}
