@use '@shared/styles/variables' as *;

$product-page_image-background: $color-graphite-100;

.productPage {
  display: grid;
  gap: $indent-xl;
  padding-block: $indent-lg;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}

.image {
  width: 100%;
  border-radius: 12px;
  background-color: $product-page_image-background;
}

.info {
  display: flex;
  flex-direction: column;
  gap: $indent-md;
}

.name {
  margin: 0;
  font-size: $font-size-2xl;
  line-height: 1.2;
}

.sku {
  font-size: $font-size-sm;
  color: $color-graphite-300;
}

.price {
  font-size: $font-size-xl;
}
