@use '@shared/styles/variables' as *;

.input {
  width: 100%;
  box-sizing: border-box;
  padding: $input-padding;
  border: 2px solid $color-graphite-900;
  border-radius: 20px;
  outline: none;
  &:active,
  &:focus {
    border-color: $color-purple-800;
    transition: 0.5s linear border-color;
  }
  &::placeholder {
    color: $color-graphite-200;
  }
  &[aria-invalid='true'] {
    border-color: $color-error;
  }
}
